{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div class="error">{{ message }}</div>
    {% endif %}
    <div class="login">
        <h1>HealthManager</h1>
        <div class="login-bottom">
            <h2>Signin</h2>
            <form action={{ path('signin') }}" method="post">
                <div class="col-md-6">
                    <div class="login-mail">
                        <input type="text" placeholder="Email" required="">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="login-mail">
                        <input type="password" placeholder="Password" required="">
                        <i class="fa fa-lock"></i>
                    </div>
                    <a class="news-letter " href="#">
                        <label class="checkbox1"><input type="checkbox" name="checkbox" ><i> </i>Forget Password</label>
                    </a>
                </div>
                <div class="col-md-6 login-do">
                    <label class="hvr-shutter-in-horizontal login-sub">
                        <input type="submit" value="login">
                    </label>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
    <div class="copy-right">
        <p> &copy; 2016 HealthManager. All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>	    
    </div>  
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css', 'login') }}" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/login.js', 'login') }}"></script>
{% endblock %}



