.error{
    height: 0;
    overflow: hidden;
    background: red;
    -moz-animation: slide 2s ease 0.5s forwards;
    -webkit-animation: slide 2s ease 0.5s forwards;
    -o-animation: slide 2s ease 0.5s forwards;
    -ms-animation: slide 2s ease 0.5s forwards;
    animation: slide 2s ease 0.5s forwards;
    
    color: white;
}

@-moz-keyframes slide /* Firefox */
{
from {height: 0;}
to {height: 50px;}
}

@-webkit-keyframes slide /* Safari and Chrome */
{
from {height: 0;}
to {height: 50px;}
}

@-o-keyframes slide /* Opera */
{
from {background: red;}
to {background: yellow;}
}

@-ms-keyframes slide /* IE10 */
{
from {height: 0;}
to {height: 50px;}
}

@keyframes slide{
from {height: 0;}
to {height: 50px;}
}